<div id='answer' style="display:none; background:yellow; text-align:center">
</div>
  


<div id='instructions' style="background:brown; color: white; padding: 10px;">
  <div>
    <h2>Instructions (Read and follow closely)</h2>

<li id="name"><b>Click here and enter your name!</b></li>
<input type="hidden" value="<%= form_authenticity_token() %>">
<script type="text/javascript">
  new Ajax.InPlaceEditor('name', '/my_name_is', {
 callback: function(form, value) { return 'authenticity_token=<%= form_authenticity_token() %>&name='+escape(value)},
savingText:'Saved'
});
</script>

    <li>Listen to the audio clip and spell the word as best you can</li>
    <li>The words are foreign, you will not easily understand them</li>
    <li>The word will be repeated three times.  There will be a breif period for you to think and spell, then the next word will be played automatically</li>
    <li>After you are done spelling the word, hit enter or submit</li>
    <li>You will have approximatly <b><%= @exam.time %> minutes</b></li>
    <li>Listen to these samples: <a target='_blank' href='/audio/vicki.mp3'>Vicki</a> and <a target='_blank' href='/audio/alex.mp3'>Alex</a></li>

    <br />
    When you are ready, select your proctor: 
    <a target='_blank' href='/audio/<%= @exam.name.downcase %>_vicki.mp3' onClick="Effect.SlideUp('instructions'); Effect.Appear('timer'); $('response_response').focus();">Vicki</a> or 
    <a target='_blank' href='/audio/<%= @exam.name.downcase %>_alex.mp3' onClick="Effect.SlideUp('instructions'); Effect.Appear('timer'); $('response_response').focus();">Alex</a>
    <br />
  </div>
</div>

<div style="display:none;" id='timer'>
  You have until ~<%= (@exam.time).minutes.from_now.strftime("%I:%M") %>




  <div style="float:left;" id='question'>
    <%= render :partial => 'ask' %>
  </div>

  <div style="float:right; background-color:#CCFFCC; padding: 15px; height: 50px; width:200px;" id='score'>
    <%= render :partial => 'responses/score' %>
  </div>

</div>
