<div id='saved' style="display:none; background:yellow; text-align:center"><div style="font-weight:bold; padding:10px; font-size:150%;">Reponse Saved<br /><%= @question.id %></div></div>
  


<div id='instructions' style="background:brown; color: white; padding: 10px;">
  <div>
    <h2>Instructions (Read and follow closely)</h2>

<li id="name"><b>Click here and enter your name!</b></li>
<input type="hidden" value="<%= form_authenticity_token() %>">
<script type="text/javascript">
  new Ajax.InPlaceEditor('name', '/my_name_is', {
 callback: function(form, value) { return 'authenticity_token=<%= form_authenticity_token() %>&name='+escape(value)},
savingText:'Saved'
});
</script>

    <li>Listen to the audio clip and spell the word as best you can</li>
    <li>The words are foreign, you will not easily understand them</li>
    <li>The word will be repeated three times.  There will be a breif period for you to think and spell, then the next word will be played automatically</li>
    <li>After you are done spelling the word, hit enter or submit</li>
    <li>Work quickly, there are no breaks/pausing</li>
    <li>You will have approximatly <b><%= @exam.time %> minutes</b></li>
    <li>Listen to these samples: <a target='_blank' href='/audio/vicki.mp3'>Vicki</a> and <a target='_blank' href='/audio/alex.mp3'>Alex</a></li>

    <br />
    When you are ready, select your proctor: 
    <% if request.env['HTTP_HOST'] == 'localhost:3000' %>
      <a href='http://127.0.0.1:3000/audio/m_0-5_vicki.m4a' onClick="Effect.SlideUp('instructions'); Effect.Appear('timer'); $('response_response').focus();">Vicki!</a> or 
      <a href='http://127.0.0.1:3000/audio/m_0-5_alex.m4a' onClick="Effect.SlideUp('instructions'); Effect.Appear('timer'); $('response_response').focus();">Alex!</a>
    <% else %>
      <a href='http://<%= request.env['HTTP_HOST'] %>/audio/m_0-5_vicki.m4a' onClick="Effect.SlideUp('instructions'); Effect.Appear('timer'); $('response_response').focus();">Vicki!</a> or 
      <a href='http://<%= request.env['HTTP_HOST'] %>/audio/m_0-5_alex.m4a' onClick="Effect.SlideUp('instructions'); Effect.Appear('timer'); $('response_response').focus();">Alex!</a>
    <% end %>
    <br />
  </div>
</div>

<div style="display:none;" id='timer'>
You have until ~<%= (@exam.time).minutes.from_now.strftime("%I:%M") %> | Can't hear the audio?  Play <a target='_blank' href='/audio/m_0-5_vicki.mp3'>Vicki</a> or <a target='_blank' href='/audio/m_0-5_alex.mp3'>Alex</a>




<div id='question'>
  <%= render :partial => 'ask' %>
</div>

<div id='answer'>
</div>

</div>
