<p>
  <b>Exam:</b>
  <%=h @question.exam_id %>
</p>

<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>

<p>
  <b>Answer:</b>
  <%=h @question.answer %>
</p>


<%= link_to 'Edit', edit_exam_question_path(@exam, @question) %> | 
<%= link_to 'Back', exam_questions_path(@exam) %>
