<h1>New response</h1>

<% form_remote_for(@response) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :question_id, { :value => @question.id } %>
  <%= f.hidden_field :student_id, { :value => session[:student_id] } %>
  <%= hidden_field_tag :exam_id, nil, { :value => params[:exam_id] } %>

  <p>
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.label :response %><br />
    <%= f.text_field :response %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>


<% end %>
