
<h1>New response</h1>

<% form_remote_for(@response) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :question_id, { :value => @question.id } %>
  <%= f.hidden_field :student_id, { :value => session[:student_id] } %>
  <%= hidden_field_tag :exam_id, nil, { :value => params[:exam_id] } %>

  <p>
    <%= f.label :response %><br />
    <%= f.text_field :response %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
    <% f.submit 'Submit', :complete => visual_effect(:highlight, "question", :duration => 3) %>
  </p>


<% end %>

<!-- set focus on response -->
<%= set_focus_to_id 'response_response' %>
