<h1>Editing response</h1>

<% form_for(@response) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </p>
  <p>
    <%= f.label :response %><br />
    <%= f.text_field :response %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @response %> |
<%= link_to 'Back', responses_path %>