<h1>Editing exam</h1>

<% form_for(@exam) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exam %> |
<%= link_to 'Back', exams_path %>